<div id="nav" class="fixed top-0 z-50 w-full bg-gradient-to-r from-purple-700 to-black py-3 px-4 md:px-12 text-white text-3xl flex items-center justify-between shadow-2xl">
  
  <div class="flex items-center cursor-pointer" onclick="location.replace('/');">
    <svg class="w-8 h-8 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
    </svg>
    <p class="hidden sm:block">Digitale Shoppingliste</p>
  </div>

  <div class="flex text-sm">
    <div class="mr-8 flex items-center cursor-pointer" onclick="location.replace('/stats');">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
      </svg>
      <p class="ml-2 hidden sm:block">Statistik</p>
    </div>

    <div class="flex text-sm items-center cursor-pointer" onclick="location.replace('/list');">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path>
      </svg>
      <p class="ml-2 hidden sm:block">Alte Einkäufe</p>
    </div>
  </div>
  
</div>