<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="bg-gray-300 select-none">

    <%- include('./partials/nav'); %>

        <br class="mt-10">

        <div class="container mx-auto">
            <div class="bg-gray-100 mx-2 my-4 p-4 shadow-xl">
                <h1>Test</h1>
            </div>
        </div>

</body>

</html>